@import "@pnpm-monorepo-template/shared-ui/index.css";

:root {
	--primary: oklch(0.5234 0.1347 144.1672);
}

.dark {
	--primary: oklch(0.6731 0.1624 144.2083);
}

/* :root {
	--background: #ffffff;
	--foreground: #171717;
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-sans: var(--font-geist-sans);
	--font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
}

body {
	background: var(--background);
	color: var(--foreground);
	font-family: Arial, Helvetica, sans-serif;
} */
